# Python
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
venv/

# Flask-specific
instance/
.flaskenv

# Machine learning output
output/
model.ipynb

# Jupyter
.ipynb_checkpoints 
venv
.vercel

# Media
app/static/recording/