body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    background-color: #f4f4f4;
    display: flex; /* Menjadikan body sebagai flex container */
}

.sidebar { 
    width: 350px; 
    background-color: #333; 
    color: white; padding-top: 20px; 
    height: 100vh;
}

.sidebar h2 {
    text-align: center;
}

.sidebar a { 
    display: block; 
    color: white; 
    padding: 10px 15px; 
    text-decoration: none;
}

.sidebar a:hover { 
    background-color: #575757;
}

.main-content { 
    flex-grow: 1; 
    padding: 20px; 
}

h1 { 
    color: #333; 
    margin-bottom: 20px; 
}

table { 
    width: 100%; 
    border-collapse: collapse; 
    margin-bottom: 20px; 
}

th, td { 
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
}

th { 
    background-color: #e2e2e2; 
}

form { 
    background-color: #fff; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-top: 20px; 
}

label { 
    display: block; 
    margin-bottom: 8px; 
    font-weight: bold; 
}

input[type="text"], 
input[type="password"], 
input[type="number"], 
select { 
    width: calc(100% - 22px); 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
}

button { 
    padding: 10px 15px; 
    background-color: #28a745; 
    color: white; border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}

button:hover { 
    background-color: #218838; 
}

.button-as-link { 
    background: none; 
    color: #dc3545; 
    border: none; 
    padding: 0; 
    font: inherit; 
    cursor: pointer; 
    text-decoration: underline; 
    display: inline; 
    margin-left: 5px; 
}

.button-as-link:hover { 
    color: #bd2130; 
    text-decoration: none; 
}

/* Styles specific to index.html/predict_form */
.container { 
    background-color: #fff; 
    padding: 30px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    max-width: 500px; 
    margin: auto; 
}
/* button in index.html has specific width and padding */
.container button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.container button:hover {
    background-color: #0056b3;
}

/* Styles specific to edit forms */
form.edit-form { 
    max-width: 500px; 
    margin-left: auto; 
    margin-right: auto; 
}

form.edit-form button { 
    background-color: #007bff; 
}

form.edit-form button:hover { 
    background-color: #0056b3; 
}

/* Styles specific to result.html */
.result-page-container { 
    background-color: #fff; 
    padding: 30px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    max-width: 500px; 
    margin: auto; 
    text-align: center; 
}

.result { 
    font-size: 1.8em; 
    font-weight: bold; 
    color: #007bff; 
    margin-top: 20px; 
}

.result-page-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.result-page-container a:hover {
    background-color: #0056b3;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin-left: -20px;
}

.sidebar-logo {
    width: 100px;
    height: 100px;
} 